<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazekart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/primary.css">
    <link rel="stylesheet" href="styles/home_layout.css">
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    
    <header>
        <div class="navbar">
            <div>
                <div class="mobile">
                    <div class="menu">
                        <img src="media/images/icon-menu.svg" alt="menu">
                    </div>
                    <div class="mobile-menu-items">
                        <div class="close"><img src="media/images/icon-close.svg" alt="X"></div>
                        <div class="mobile-links"><a href="#">Collections</a></div>
                        <div class="mobile-links"><a href="#">Men</a></div>
                        <div class="mobile-links"><a href="#">Women</a></div>
                        <div class="mobile-links"><a href="#">About</a></div>
                        <div class="mobile-links"><a href="#">Contact</a></div>
                    </div>
                </div>

                <h1>sneakers</h1>
            </div>
            <nav class="desktop">
                <div class="links"><a href="#">Collections</a></div>
                <div class="links"><a href="#">Men</a></div>
                <div class="links"><a href="#">Women</a></div>
                <div class="links"><a href="#">About</a></div>
                <div class="links"><a href="#">Contact</a></div>
            </nav>


        </div>
        
    {{{body}}}
    <div id="layer"></div>
    <script src="scripts/main.js"></script>
    <script src="scripts/home.js"></script>
</body>
</html>